*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
  font-size: 16px;
}
body{
    background-color: rgb(26, 24, 24);
   
}

.keys{
    height: 75vh;
     display: flex;
    justify-content: center;
    align-items: center
}

.keys img{
    height: 75vh;
    width: 50vw;
}

@media only screen and (max-width: 800px) {
.keys img{
    height: 75vh;
    width: 70vw;
}

html{
  font-size: 10px;
}
}
@media only screen and (max-width: 1100px) {
.keys img{
    height: 75vh;
    width: 60vw;
}

html{
  font-size: 10px;
}
}
@media only screen and (max-width: 600px) {
.keys img{
    height: 75vh;
    width: 60vw;
}

html{
  font-size: 5px;
}
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.key kbd{
    font-size: 3rem;
} 

.key {
    padding: .7rem 2rem;
   
    color: azure;
    margin-right: 1rem;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
